---
import Layout from '@/layouts/Layout.astro';
import { sanityClient } from 'sanity:client';
import ProgressionChart from '@/components/ProgressionChart';
import AuthorStats from '@/components/AuthorStats';
import { LucideArrowLeft } from 'lucide-react';
const { id } = Astro.params;

const author = await sanityClient.fetch<{
  name: string;
  poops: { createdAt: string }[];
}>(
  `
	*[_type == "author" && _id == $id][0] {
		name,
		"poops": *[_type == "poop" && references(^._id)] {
			createdAt,
		} 
	}
`,
  { id }
);
const poops = await sanityClient.fetch<{ createdAt: string }[]>(
  `*[_type == "poop"]{createdAt} | order(createdAt desc)`
);
const poopsByDate = poops.reduce(
  (acc, poop) => {
    const date = new Date(poop.createdAt).toLocaleDateString('es-CO', {
      month: '2-digit',
      day: '2-digit',
    });
    if (!acc[date]) {
      acc[date] = 0;
    }
    acc[date] += 1;
    return acc;
  },
  {} as Record<string, number>
);

const authorPoopsByDate = author.poops.reduce(
  (acc, poop) => {
    const date = new Date(poop.createdAt).toLocaleDateString('es-CO', {
      month: '2-digit',
      day: '2-digit',
    });
    if (!acc[date]) {
      acc[date] = 0;
    }
    acc[date] += 1;
    return acc;
  },
  {} as Record<string, number>
);

const chartData = Object.entries(authorPoopsByDate).map(([date, count]) => ({
  date,
  count,
}));
---

<Layout title="Author">
  <div>
    <div
      class="flex flex-row sm:justify-start justify-center items-center sm:gap-4 gap-1"
    >
      <a href="/">
        <LucideArrowLeft className="w-8 sm:h-8 h-4" />
      </a>
      <h1 class="sm:text-4xl text-xl text-center">
        {author.name}
      </h1>
    </div>
    <ProgressionChart client:load chartData={chartData} />
    <div class="mt-16">
      <AuthorStats
        client:load
        poops={author.poops}
        poopsByDate={authorPoopsByDate}
        totalPoopCount={Object.keys(poopsByDate).length}
      />
    </div>
  </div>
</Layout>
